# ----------------------
# Node.js & Backend
# ----------------------
node_modules/
npm-debug.log
yarn-error.log
.env
dist/
coverage/

# ----------------------
# Flutter & Mobile
# ----------------------
.dart_tool/
.packages
.pub/
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Podfile.lock
android/local.properties
android/app/release/

# ----------------------
# IDE & System
# ----------------------
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
